.products-info{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 10px;
    margin-bottom: 5px;
}
.product-title{
    color: blue;
}
.product-price{
    font-size: 20px;
    font-weight: bolder;
}
.add-to-cart-button{
    background-color: goldenrod;
    border: 1px solid goldenrod;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    color: rgba(15, 15, 15, 0.808);
}